/* font-size,width,height,pixels */
/* h1 {
    font-size: 100px;
    width: 400px;
    height: 300px;
    background: blue;
} */

/* percent values-Relative */

/* .outer {
    width: 100px;
    height: 100px;
    background: green;
} */

/* .inner {
    width: 50%;
    height: 50%;
    background: red;
} */

/* em-RELATIVE depends on parent
 1em-16px defaul browser style;
 1em-base value */
/* div {
    font-size: 20px;
}

.relative {
    font-size: 2em;
}

.absolute {
    font-size: 32px;
} */

/* rem-Relative depends on root;
1rem= 16 px default browser style; */
/* div {
    font-size: 32px;
}

.relative {
    font-size: 2rem;
}

.absolute {
    font-size: 4rem;
} */

/* vh-height-percent of the screen;
vw-width-percent of the screen; */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 50vw;
    height: 50vh;
    background: blue;
}

.header {
    width: 60vw;
    height: 60vh;
    background: red;
} */

/* calculate math operations + - * / mix and match values */
/* .navbar {
    background: blue;
    height: 50px;
    color: white;
    font-size: 3rem;
}

.banner1 {
    background: green;
    min-height: calc(50vh - 50px);
} */

/* Typography */
/* font-size font-family */
/* section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Google FONTS */
/* body {
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    text-align: justify;
    font-style: italic;
    line-height: 2.5em;
    letter-spacing: 1px;
}

h6 {
    font-family: 'Open Sans',
        sans-serif;
} */

/* CSS Box Model */
/*BORDER RADIUS
NEGATIVE MARGIN */

/* h7 {
    background: blue;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
    padding-left: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    border-radius: 20px;
}

/* p {
    background: green;
    padding: 20px;
     padding:30px 60px;
    padding:20px 40px 60px 10px; 
    border: 13px solid red;
    border-radius: 50%;
    margin-top: 10%;
} */
/* Default display property 
 Block:Always starts a new line and takes full width
 Inline: Does not start and only take up as much as content space  */
/* .block {
    background: blue;
    color: white;
    display: block;
    
}

.inline {
    background: red;
    color: white;
} */
/* Horizontal centering */
/* body {
  text-align: center;
}

.block {
  background: blue;
  color: white;
  width: 150px;
   margin-left: auto;
  margin-right: auto;
}

.inline {
  background: red;
  color: white;
} */

/* Mobile Navbar
List-style-type:property descendant selectors */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: #110000;
  color: #f15025;
  display: block;
  padding: 2px;
  margin: 10px auto;
}
/* div {
  background: lightblue;
  color: red;
  padding: 20px;
  margin: 20px;
} */
