/* CSS rules */
/* Selectors */
/* declaration block */
/* declaration-property and values */

/* Type selector */
h1 {
  color: blue;
  font-size: 3rem;
}

h2 {
  color: red;
  font-size: 2rem;
}

p {
  font-weight: lighter;
  font-style: normal;
  /* font-variant-east-asian: jis04; */
  /* For more information refer this website https: //www.w3schools.com/css/css_text.asp */
  font-variant: inherit;
  font-stretch: semi-expanded;
  color: black;
  text-align: justify;
  text-decoration: none;
  text-transform: capitalize;
  text-decoration-style: inherit;
  text-indent: 1pt;
  letter-spacing: 1px;
  direction: ltr;
  border: 2px solid black;
  line-height: 1em;
  /* text-shadow: 3px 2px grey; */
}

/* ID */
/* ID is supposed to be unique */

#Thousandwords {
  color: purple;
  background: grey;
}
#subheading {
  color: red;
  background: white;
}

/* class selectors */
/* class need not be unique */
.green {
  color: green;
}
.red {
  color: red;
}
.brown {
  color: brown;
}
/* DIV is block-level element */
div {
  color: grey;
  background: whitesmoke;
}
/* SPAN is in-line element */
span {
  text-transform: uppercase;
}
/* INHERITANCE */
section {
  color: red;
}

/* Last rule and Specificity */
/* Universal selector */
/* The
  following
  p
  element
  come
  into
  play
  irrespective
  of
  what
  mentioned
  before. */
p {
  color: red;
}
p {
  color: blue;
}
#first {
  color: rgb(200, 0, 100);
  background: lightblue;
}
#second {
  color: rgb(100, 0, 200);
  background: rgb(255, 255, 255);
}
/* about rgba */
#three {
  color: rgb(0, 100, 0);
  background: rgba(0, 0, 0, 0.5);
}
#four {
  color: rgb(100, 100, 100);
  background: rgba(0, 0, 0, 0.01);
}
/* HEX values #RRGGBB[AA] */
/* 123456789 A(10) B(11) C(12) D(13) E(14) F(15)  */
/* #FF0000 -RED  */
/* #00FF00 -GREEN */
#six {
  color: #ff0000;
  background: #000000;
}

#seven {
  color: #00ff00;
  background: #fff;
}

/* about rgba */
#eight {
  color: #0000ff;
  background: currentcolor;
}
/* These syntax variations all specify the same color: a fully opaque hot pink. */

/* Hexadecimal syntax */
#f09 #F09 #ff0099 #FF0099
/* Functional syntax */
rgb(255, 0, 153) rgb(255, 0, 153) rgb(255, 0, 153.0) rgb(100%, 0%, 60%) rgb(100%, 0%, 60%) rgb(100%, 0, 60%)
/* ERROR! Don't mix numbers and percentages. */
rgb(255 0 153)
/* Hexadecimal syntax with alpha value */
#f09f #F09F #ff0099ff #FF0099FF
/* Functional syntax with alpha value */
rgb(255, 0, 153, 1) rgb(255, 0, 153, 100%)
/* Whitespace syntax */
rgb(255 0 153 / 1) rgb(255 0 153 / 100%)
/* Functional syntax with floats value */
rgb(255, 0, 153.6, 1) rgb(1e2, .5e1, .5e0, +.25e2%)
