h1 {
    color: blue;
    font-size: 3rem;

}

h2 {
    color: red;
    font-size: 2rem;
}

p {
    font-weight: lighter;
    font-style: normal;
    /* font-variant-east-asian: jis04; */
    font-variant: inherit;
    font-stretch: semi-expanded;



}